<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='viewport' content='width=device-width'>
<link rel="stylesheet" type="text/css" href="public/stylesheets/main.css">
</head>
<body>


    <nav id='navbar' class='fixed'>
        <ul class='inner'>
        <li id='home' class='nav button'>HOME</li>
        <li id='issue' class='nav button'>ISSUES</li>
        <li id='participate' class='nav button'>PARTICIPATE</li>
        <li id='about' class='nav button'>ABOUT</li>
        <li id='translate' class='nav button'>ع</li>
        </ul>
    </nav>

	{{{yield}}}

</body>