<head>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='viewport' content='width=device-width'>
<link rel="stylesheet" type="text/css" href="public/stylesheets/main.css">
</head>
<body>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <nav id='navbar' class='fixed'>
        <ul class='inner'>
        <a href='/'>
            <li id='issue' class='nav button'>
                ISSUES
            </li>
        </a>
        <a href='/participate'>
            <li id='participate' class='nav button'>
                PARTICIPATE
            </li>   
        </a>
        <a href='/blog'>
            <li id='blog' class='nav button'>
                BLOG
            </li>   
        </a>
        <a href='/about'>
            <li id='about' class='nav button'>
                ABOUT
            </li>
        </a>
            <li id='translate' class='nav button'>
                ع
            </li>
        </ul>
    </nav>

	{{{yield}}}

</body>