@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento:100,400,400italic);

@import 'base';
@import 'nav';
@import 'index';
@import 'translate';

$main-color: rgb(40,40,130);

body {
	font-family: "Helvetica", sans-serif;
	font-weight: 200;
	padding:0;
	margin:0;
}
ul {
	list-style-type: none;
}
li {
	margin-bottom: 5px;
}
a {
	text-decoration: none;
	padding: 2px;
	font-weight: normal;
}
strong {
	font-weight: bold;
}
@media all and (orientation:portrait) { 
	ul { padding-left: 2px;}
}
@media all and (max-device-width: 600px) and (orientation:landscape) {
	body {font-size: 60%;}
	ul { padding-left: 2px;}
}

// TOPIC PAGE 

.hs{
	width:100%;
	margin: 150px 0 50px 0;
	text-align:center;
}

.sec-title{
	font-size: 2em;
	font-weight: 100;
	font-family: "Quattrocento Sans", "Helvetica", sans-serif;
	font-weight: 700;
	padding: 0 0 10px 0px;
	width: 250px;
	text-align: center;
	border-bottom: 5px solid $main-color;
	margin: 0 auto;
	margin-bottom: 30px;
	letter-spacing: 1px;

}

#my-timeline, #footer{
	margin:0;
	position:relative;
	padding-top:150px !important;
	height:50px;
	background-color: rgb(239, 239, 237) !important;
	background-size: 100%;
	background-attachment: fixed;
	padding-bottom:0px !important;
}

#footer{
	height: 250px;
}

#desc-meta{
	display: inline-block;
	vertical-align: top;
	width: 250px;
	font-size: 25px;
}

#desc-tagline{
	font-size:1.3em;
	font-family : serif;
	margin: 0;
	font-family: "Quattrocento Sans", Helvetica, sans-serif;
	font-weight: 700;
	margin-bottom:30px;
	color: $main-color;

}

#desc-author{
	font-size: 17px;
	color: black;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:2px
}
#desc-date{
	font-family: "Quattrocento", serif;
	color: rgb(160,160,170);
	font-size: 17px;
}

#desc{
	vertical-align:top;
	width: 600px;
	margin:0 auto;
	display:inline-block;
	text-align:left;
	font: 19px/30px sans-serif;
	color: rgb(30,30,30);
	font-family: "Quattrocento", serif;
}

.ar#desc-container{
	#desc{text-align:right;
		margin-right: 50px;}
	#desc-meta{text-align:left;}
}
.en#desc-container{
	#desc{text-align:left;
		margin-left: 50px;}
	#desc-meta{text-align:right;}
}

#images{
	height:500px;
	width:75%;
	overflow: auto;
	overflow-y: hidden;
	margin: 0 auto;
	white-space: nowrap;
	background: rgb(245,245,240);
	// border-top: 10px solid rgb(245,245,240);
	// border-bottom: 10px solid rgb(245,245,240);
	// border-right: 50px solid rgb,a(245,245,240,0.5);
	
}

.vco-storyjs{
	background: rgba(0,0,0,0) !important;
}

#img{
		height: 500px !important;
		width:auto;
		margin:0;
		margin-right: 5px;
	}

// ********************* Chatter section *****************
#tweets{
	margin:0;
	padding:0;
	margin: 0 auto;

}
.tweet{
	display:inline-block;
	width: 900px;
	background: rgb(250,250,245);
	height: 100px;
	margin: 20px;
	// display:none;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom:10px;
	vertical-align:top;
	text-align:left;
}
#tweet-inner{
	display: inline-block;
	vertical-align:top;
	height: 40px;
	width: 700px;
	margin: 15px 0 0 20px;
}
#twt-avatar{
	margin:5px;
	top:0px;
	left:0px;
	height:90px;
	width:90px;
	float:left;
	vertical-align:top;
}

#twt-user{
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: 700;
	color: $main-color;
	color: black;
	font-size: 0.9em;
	letter-spacing: 1px;
	vertical-align:top;
	top:0px;
	display:block;
	text-transform:uppercase;
}

#twt-text{
	font-family: 'Quattrocento', serif;
	color: rgb(50,50,50);
}

// **************** INDEX PAGE 
#hero{
	background-image: url("/public/images/hala.jpg");
	background-size:cover;
	height: 650px;
	padding:0;
	margin:0;
	background-attachment: fixed;
}

#htitle{
	font-size: 90px;
	color:white;
	text-transform:uppercase;
	font-family : "Helvetica";
	letter-spacing: 1px;
	font-weight: 700;
}
#hsub{
	font-weight: 100;
	color: black;
	text-align:center;
	padding: 30px 0 30px 0;
	width:100%;
	font-family: "Quattrocento";
}

#tof{
	@include box-sizing(border-box);
	padding: 0 100px 0 100px;
	margin:20px 0 100px 0;
	text-align:center;
}

// ********* 
#issue_li{
	width: 300px;
	height: 220px;
	position:relative;
	display:inline-block;
	margin:5px;
	border:0px solid white;
	cursor: pointer;
	
	&:hover{
		#title-overlay{
			background: rgba(30,35,40,0.99);
			color:rgb(20,20,20);
		}
		#description-overlay{
			color:rgb(240,240,240);
		}
	}

	#img-overlay, #title-overlay, #description-overlay{
		width:300px;
		height:220px;
		position:absolute;
		top:0px;
		left:0px;
		border:0px solid white;
		background-size:cover;
		text-align:left;
	}
	#title-overlay{
		@include transition(background-color 150 ease-in, color 150 ease-in);
		color:white;
		font-family:  Helvetica Neue, sans;
		font-size: 30px;
		text-transform:uppercase;
		font-weight: 700;
		color: white;
		background: rgba(210,210,205, 0.7); 
		color: rgb(30,30,30);
		letter-spacing: 1px;
		@include box-sizing(border-box);
		padding: 30px;
	}
	#description-overlay{
		// background: rgb(40,50,60);
		// color: black;
		font-family: "Quattrocento", serif;
		font-size: 20px;
		color: rgba(0,0,0,0);
		font-weight:100;
		@include box-sizing(border-box);
		padding: 30px;
	}
	.en#description-overlay, .en#title-overlay{
		text-align:left;
	}
	.ar#description-overlay, .ar#title-overlay{
		text-align:right;
	}
}